html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Poppins, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 14px !important;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  padding-inline-end: 0;
  transition: padding-inline-end 0.3s;
}

#container {
  position: relative;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transform: translate(0, 0);
  overflow: hidden;
}
#container::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  max-height: 0;
  left: 0;
  border: none;
  box-shadow: none;
  pointer-events: none;
}

#main {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
}
#main .b-resourceheader {
  height: 100%;
}
#main > .b-panel .b-toolbar {
  height: 4.3em;
}
#main > .b-panel .b-toolbar .widget-title {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.b-sch-event {
  border-radius: 3px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.b-theme-material .widget-title {
  color: #555;
}

.b-sch-event-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.event-name {
  font-size: 1.3em;
}

.location {
  display: block;
  margin-top: 0.3em;
  font-weight: normal;
}

.b-fa-map-marker-alt {
  margin-inline: 1px 0.4em;
}

/* Mapbox CSS adaptions */
.mapboxgl-popup.mapboxgl-popup-anchor-top {
  margin-top: -1.2em;
}

.mapboxgl-popup-content {
  padding: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup .event-name {
  display: block;
  margin: 0 0 1.5em 0;
  font-size: 1.4em;
  font-weight: bold;
}

.mapboxgl-marker {
  cursor: pointer;
}

.mapboxgl-canvas:focus {
  outline: none !important;
}

/* EOF Mapbox CSS adaptions */
.address-results .b-list-item i {
  font-size: 1.5em;
  margin: 0 0.7em 0 0.2em;
}

.address-container {
  display: flex;
  flex-direction: column;
}

.address-name {
  flex: 1;
  margin-bottom: 0.4em;
  font-size: 1.1em;
}

.lat-long {
  flex: 1;
  color: #bbb;
  font-size: 0.9em;
}
